* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:url(https://i.pinimg.com/originals/58/9c/18/589c18531c692fe1a96d2d05cbdc7868.png);
    background-repeat: no-repeat;
    background-size:100%;
}

.cabecalho {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 8px 16px rgba(107, 195, 236, 0.2);
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 50px; 
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.menu-esquerda {
    display: flex;
    align-items: center;
}

.menu ul {
    display:flex;
    list-style: none;
    gap: 180px; 
}

.menu li {
    margin: 0;
    font-size: larger;
}

.menu a {
    color: #1b1a1a;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Deixa as bordas arredondadas */
}

.menu a:hover {
    background-color: #8abddf;
    color: #333;
}

.logo {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 20px;
}


